<p>goal works!</p>
  <h1>My Watch List</h1>
  <ul>
    <div *ngFor="let goal of goals; let i = index">
      <li appStrikethrough>
        {{goal.name}}
      </li>
      <button (click)="toggleDetails(i)">Toggle Details</button>
      <app-goal-detail *ngIf="goal.showDescription" [goal]="goal" (isComplete)="completeGoal($event, i)"></app-goal-detail>
      <!-- $event is a placeholder for values that are expected to be emitted by the event
      completeGoal is triggered when event is captured from child component that is goal-detail -->

    </div>
    <p *ngIf="goals.length < 3">Your watch list is too small</p>
